* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #17181A;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

div.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #109DFF;

    height: 800px;
    width: 800px;
    border-radius: 50%;
}

div.calculator {
    width: 260px;
    background-color: #17181A;
    color: #ffffff;
    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.display {
    height: 100px;
    text-align: right;
}

div.topDisplay {
    height: 40%;
    font-size: 1.5rem;
}

div.bottomDisplay {
    height: 60%;
    font-size: 2rem;
}

button {
    border: none;
    outline: none;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;

    font-size: 20px;
    font-weight: bold;

    background-color: #303136;
    color: #29A8FF;

    text-align: center;
}

div.operators {
    display: flex;
    justify-content: space-between;
}

div.operators > button {
    background-color: #005DB2;
}

button#equals {
    background-color: #1991FF;
    color: #B2DAFF;
}

button#clear,
button#backspace {
    background-color: #616161;
    color: #A5A5A5;
}