* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #17181A;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

div.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #109DFF;

    height: 800px;
    width: 800px;
    border-radius: 50%;
}

div.calculator {
    width: 260px;
    background-color: #17181A;
    color: #ffffff;
    border-radius: 20px;
    padding: 20px;
}

div.display {
    height: 100px;
    text-align: right;
}

div.topDisplay {
    height: 40%;
    font-size: 1.5rem;
}

div.bottomDisplay {
    height: 60%;
    font-size: 2rem;
}

div.numbers {
    width: 160px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

button {
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 10px;

    font-size: 20px;
    font-weight: bold;

    background-color: #303136;
    color: #29A8FF;
}

#zero {
    padding: 10px 42px;
}